<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="globalize.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net45" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.2.5" targetFramework="net45" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net45" />
</packages>