<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="globalize.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net45" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net45" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net45" />
  <package id="Knockout.Validation" version="1.0.1" targetFramework="net45" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net45" />
  <package id="knockoutjs" version="2.3.0" targetFramework="net45" />
  <package id="Moment.js" version="2.1.0" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net45" />
  <package id="qunit.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="RequireJS" version="2.1.8" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net45" />
  <package id="sammyjs.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net45" />
  <package id="underscore.js" version="1.5.1" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.2.1" targetFramework="net45" />
</packages>